/node_modules/
/public/hot/
/public/storage/
/storage/*.key/
/vendor/
node_modules
public/hot
public/storage/
storage/*.key
vendor
.env
/public/assets/img/
database/migrations/
database/releases/
public/front_web/images/
public/assets/img/
public/images/
resources/assets/img/
copias22.zip
server
resources/lang
copis.zip
lang.zip
tests
resources/views/front_web/layouts/footer2.blade.php
/vendor/
.DS_Store
storage/framework/cache
cache
storage/logs/